.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Theme - Navy Blue */
.app.theme-dark {
  background-color: #0a1929;
  color: #ffffff;
}

/* Light Theme - Darkish Beige */
.app.theme-light {
  background-color: #d4c5b9;
  color: #000000;
}
